.w3-theme-l5 {color:#000 !important; background-color:#f6f1fe !important}
.w3-theme-l4 {color:#000 !important; background-color:#e2cffb !important}
.w3-theme-l3 {color:#000 !important; background-color:#c59ff7 !important}
.w3-theme-l2 {color:#fff !important; background-color:#a86ff3 !important}
.w3-theme-l1 {color:#fff !important; background-color:#8b40ee !important}
.w3-theme-d1 {color:#fff !important; background-color:#6412cf !important}
.w3-theme-d2 {color:#fff !important; background-color:#5910b8 !important}
.w3-theme-d3 {color:#fff !important; background-color:#4e0ea1 !important}
.w3-theme-d4 {color:#fff !important; background-color:#430c8a !important}
.w3-theme-d5 {color:#fff !important; background-color:#370a73 !important}

.w3-theme-light {color:#000 !important; background-color:#f6f1fe !important}
.w3-theme-dark {color:#fff !important; background-color:#370a73 !important}
.w3-theme-action {color:#fff !important; background-color:#370a73 !important}

.w3-theme {color:#fff !important; background-color:#7014e8 !important}
.w3-text-theme {color:#7014e8 !important}
.w3-border-theme {border-color:#7014e8 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#7014e8 !important}
.w3-hover-text-theme:hover {color:#7014e8 !important}
.w3-hover-border-theme:hover {border-color:#7014e8 !important}