<template>
  <div>
    <nav
      class="w3-sidebar w3-bar-block w3-card w3-hide-large w3-hide-medium"
      id="mySidebar"
      v-show="menuVisible"
      v-on:click="toggleMenu"
      data-test-id="smallMenu"
    >
      <div class="w3-container w3-theme-d2">
        <span class="w3-button w3-display-topright w3-large" aria-label="Close menu">
          <font-awesome-icon :icon="['fas', 'window-close']" aria-hidden="true" />
        </span>
        <br />
        <br />
      </div>
      <menu-render />
    </nav>

    <header class="w3-top w3-bar w3-theme-d4">
      <div class="w3-left w3-hide-large w3-hide-medium">
        <button
          class="w3-bar-item w3-button w3-xlarge w3-hover-theme"
          aria-label="Menu"
          v-on:click="toggleMenu"
          data-test-id="burgerButton"
        >
          <font-awesome-icon :icon="['fas', 'bars']" aria-hidden="true" />
        </button>
      </div>
      <div class="w3-left w3-hide-small">
        <menu-render />
      </div>
      <div class="w3-right">
        <router-link to="/">
          <img class="w3-circle app-header-image" src="./assets/app.png" alt="app" />
        </router-link>
      </div>
    </header>

    <error-render />

    <div class="w3-padding w3-text-theme w3-display-container app-main-content">
      <router-view />
    </div>
    <footer class="w3-container w3-bottom w3-theme-d4 w3-margin-top w3-bar">
      <div class="w3-left app-footer-version" data-test-id="version">Version {{ version }}</div>
      <div class="w3-right app-footer-copyright">
        <font-awesome-icon :icon="['fas', 'copyright']" />Javier Sedano 2020-2025,
        <font-awesome-icon :icon="['fab', 'creative-commons']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-by']" />
        <font-awesome-icon :icon="['fab', 'creative-commons-sa']" />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
      </div>
    </footer>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faWindowClose, faBars, faCopyright } from "@fortawesome/free-solid-svg-icons";
import {
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa,
} from "@fortawesome/free-brands-svg-icons";
import ErrorRender from "./components/ErrorRender.vue";
import MenuRender from "./components/MenuRender.vue";
import { versionService } from "./services/version.service";

library.add(
  faCopyright,
  faWindowClose,
  faBars,
  faCreativeCommons,
  faCreativeCommonsBy,
  faCreativeCommonsSa,
);

const version = ref<string>("...");
const menuVisible = ref<boolean>(false);

onMounted(async () => {
  console.log("Mounted");
  version.value = await versionService.getVersion();
});

function toggleMenu(): void {
  menuVisible.value = !menuVisible.value;
}
</script>

<style lang="scss">
$app-w3-screen-width-small: 601px;
$app-w3-screen-width-medium: 993px;
$app-w3-screen-width-large: 1205px;

$app-header-height: 52px;
$app-footer-height-small: 15px;
$app-footer-height-medium: 22px;

.app-header-icon {
  margin-top: 13px;
  margin-bottom: 13px;
}
.app-header-image {
  height: 52px;
}

.app-main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: $app-header-height;
  margin-bottom: $app-footer-height-small;
  height: calc(100vh - #{$app-header-height} - #{$app-footer-height-small});
}

@media (min-width: $app-w3-screen-width-small) {
  .app-main-content {
    margin-bottom: $app-footer-height-medium;
    height: calc(100vh - #{$app-header-height} - #{$app-footer-height-medium});
  }
}

.app-footer-version {
  font-size: 7px;
  position: absolute;
  bottom: 0;
}
.app-footer-copyright {
  font-size: 10px;
}
@media (min-width: $app-w3-screen-width-small) {
  .app-footer-version {
    font-size: 10px;
  }
  .app-footer-copyright {
    font-size: 15px;
  }
}

.app-invisible {
  visibility: hidden;
}
</style>
